.artist-full-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.artist-info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 20px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.artist-image {
  width: 400px; /* Adjust based on your preference */
  height: 400px; /* Adjust based on your preference */
  object-fit: cover;
  border-radius: 8px;
}

.artist-details > * {
  padding: 10px 5px;
}

.artist-details {
  flex: 1;
  max-width: 600px;
}

.artist-details h2 {
  margin-top: 0;
}

.artist-details p {
  line-height: 1.6;
}

.artist-links a {
  display: inline-block;
  margin-right: 10px;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.artist-links a:hover {
  background-color: #0056b3;
}

.artist-audio {
  width: 100%;
  margin-top: 15px;
}

@media (max-width: 968px) {
  .artist-info-wrapper {
    flex-direction: column;
  }

  .artist-image {
    width: 80%; /* Or any other size that fits better on small screens */
    height: auto; /* This will keep the aspect ratio intact */
    margin: auto;
  }
}
